body {
   padding-top: 3.5rem;
}
.blue {
    background: blue;
    color: white;
}

.green {
    color: green;
}

.st-img {
    border:1px #41ad43 solid;
}

.tabel {
    background-color: #8888;
     cellspacing="3" cellpadding="10";
    border=1px #41ad43 solid;
 }

.tabel td {
    color: #7d910d;
    text-align: center;
}

.jumbotron {
    background-image: url(/img/jp-banner-jumbotron.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}